<% content_for :page_title, @movie.name + " on Netflix-o-matic" %>
<h1><%= @movie.name %></h1>

<%= image_tag @movie.cover_url %>

<h3><a href="http://www.netflix.com/search/<%= @movie.name %>">View on Netflix</a> <small>(You need to be logged in there.)</small></h3>

<hr>

<p><%= @movie.name %> is in these genres:</p>

<ol>
  <% @genres.each do |genre| %>
    <%= render genre, current_word: nil %>
  <% end %>
</ol>