<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title><%= yield :page_title %></title>
	<meta name="description" content="A fun toy to help you find Netflix movies you've never heard of">
	<meta name="author" content="George Oates, Nick Sweeney, Frankie Roberto, Dan Williams, Paul Mison">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= javascript_include_tag "application" %>  

    <%= stylesheet_link_tag 'base.css' %>
    <%= stylesheet_link_tag 'gfs-netflix.css' %>
    <%= stylesheet_link_tag 'skeleton.css' %>
    <%= stylesheet_link_tag 'layout.css' %>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "bb4cd9ea-5610-4b49-b168-e70dae80da83", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<script src="//use.typekit.net/tqe4fut.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

</head>
<body>

	<div class="container nav">
		<div class="two column">
			<a href="http://goodformandspectacle.com" title="Brought to you by Good, Form & Spectacle"><%= image_tag "gfns-butterfly.png", size: "60x60" %></a>
		</div>
		<div class="twelve columns pad">
			<%= link_to root_path, class: 'scramble' do %><b>Netflix-O-Matic</b><% end %>
			&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to "About", about_path %>

		</div>
	</div>
	<div class="container">

    <%= yield %>

	<hr>
	
	<div class="six columns">
		<span class='st_facebook_large' displayText='Facebook'></span>
		<span class='st_twitter_large' displayText='Tweet'></span>
		<span class='st_tumblr_large' displayText='Tumblr'></span>
		<span class='st_email_large' displayText='Email'></span>	
	</div>
	<div class="six columns">
		<div style="text-align:right"><small>Brought to you by <a href="http://goodformandspectacle.com">Good, Form & Spectacle</a>.</small></div>
	</div>

    </div>

  </body>
</html>